<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, intial-scale=1.0"/>
    <title>Vue3 основы для начинающих</title>
    <link rel="stylesheet" href="theme.css">
</head>

<body>
    <div class="conteiner pt-5" id="app">
        <div class="card">
            <h1 v-text="title"></h1>

            <div class="form-control">
                <input 
                type="text" 
                v-bind:placeholder="placeholderString" 
                v-bind:calue="inputValue"
                v-on:input="inputChangeHandler"
                v-on:keypress.enter="addNewNote"
                />

            </div>
            

            <button class="btn" v-on:click="addNewNote">добавить </button>
                
            <ul class="list" v-if="notes.length !==0">

                <li 
                    class="list-item" v-for="(note, idx) in notes">
                    {{ note }}
                    <button class="btm danger" v-on:click="removeNode(idx)">DELETED</button>
                </li>
                                   
                <hr/> 

                <li>
                    <strong>общее количество записей: {{notes.length}} </strong>
                </li>

                <hr/> 

                <li 
                    class="list-item" v-for="(value, key) in person">
                    {{key}} {{value}}
                </li> 

            </ul>

            <div v-if="notes.length === 0"> заметок пока нет, добавьте первую </div>
          

        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>

<script>
const vueApp = Vue.createApp({
    
    data:() => ({

    // имя метода data() - обязательно (здесь хранятся данные )   
    placeholderString: 'введите название заметки' ,
    title: 'список заметок',
    inputValue: '',

    person:{
    firstName: ': Naumdeveloper',
    email: ' : naumdeveloper@ya.com',
    age: ' : 44'
    },

    notes: ["Omena", "Peruna"],

    }),

    // это метод для работы с данными
    methods:{

    inputChangeHandler(event){
        this.inputValue = event.target.value

    },
    addNewNote(){
            if(this.inputValue !==''){
                this.notes.push(this.inputValue)
                this.inputValue = ''
            }
                        
    },
    removeNode(idx){
        this.notes.splice(idx, 1)
    }
    
    }
        
}).mount('#app');

</script>


</body>
</html>
